{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Data Schemas{% endblock %}
{% block content %}
{% include 'partials/_navbar.html' %}
<style>
    .formset_row-{{ fields.prefix }} > .col-sm-2:nth-child(8) {
        display: none;
    }
    .danger-link{
        margin-top: 35px;
    }
</style>
<div class="col-md-10">
    <div class="title-pos">
    <h2 class="left">
        {% with url_name=request.resolver_match.url_name %}
        {{ url_name }}
        {% endwith %}
    </h2>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-8">
                {{ form|crispy }}
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

        <div class="title-pos">
        <h2 style="margin-top: 25px">Schema columns</h2>
        </div>
            {{ columns.management_form|crispy }}
                {% for form in columns.forms %}
                        <div class="row formset_row-{{ fields.prefix }}">
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {% for form in form.visible_fields %}
                                <div class="col-sm-2">
                                    {{ form|as_crispy_field }}
                                </div>
                            {% endfor %}
                        </div>
                {% endfor %}
        </form>
    
</div>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="{% static "formsets.js" %}"></script>
<script type="text/javascript">

const range_appear = (column_type) => {
    let row = $(column_type).parents(".formset_row-{{ fields.prefix }}")
    let from = $(row).find("[id$='range_from']")
    let to = $(row).find("[id$='range_to']")
    if( $(column_type).val() == "Integer" ) {
        $(from).show()
        $(to).show()
    }
    else {
        $(from).hide()
        $(to).hide()

    }
  }
  $("[id$='column_type']").each(
       function() {range_appear ($(this))})
  $("[id$='column_type']").change(
        (e) => {
            range_appear(e.target)})
  

    $('.formset_row-{{ fields.prefix }}').formset({
        prefix: '{{ fields.prefix }}',
        addCssClass: 'btn btn-primary',
        deleteCssClass: 'danger-link col-sm-2'
    });

</script>
{% endblock %}